<h2>parent header</h2>
<div class="list-group-item">
    <div class="d-flex w-100 justify-content-between">
        <h2>@Name</h2>
        <small>
            <div>
                @ChildContent
            </div>
        </small>
    </div>
    @_descriptionRF(Description!)
</div>