@page "/request-item"
@using EShop.WebAssembly.Models
@using EShop.WebAssembly.Components

<PageTitle>Request Item</PageTitle>

<h2>Please fill in the request form below if you do not find desired item.</h2>

<h3>Native form element</h3>
<form>
    <div>
        <label for="item">Item: </label>
        <input type='text' name='item' id='item' required>
    </div>

    <div>
        <label for="size">Size: </label>
        <select name="size" id='size'>
            <option value="s">Small</option>
            <option value="m">Medium</option>
            <option value="l">Large</option>
        </select>
    </div>

    <div>
        <label for="count">Count: </label>
        <input type='number' name='count' id='count' required min="1" max="10">
    </div>

    <div>
        <input type='submit' />
    </div>
</form>


<h3>EditForm component</h3>
<EditForm Model="@_requestItem" OnSubmit="@OnSubmit">
    <RequestItemValidator @ref="_validator" />

    <p>
        <label>
            Item: 
            <InputText id="editform-item" @bind-Value="_requestItem.EShopItemName" />
        </label>
    </p>
    <p>
        <label>
            Size: 
            <InputEnum @bind-Value="_requestItem.Size" />
        </label>
    </p>
    <p>
        <label>
            Count: 
            <InputNumber id="editform-count" @bind-Value="_requestItem.Count" />
        </label>
    </p>

    <button type="submit">Submit</button>

    <ValidationSummary />
</EditForm>
