<div class="list-group">
    @foreach (var item in WishList!.Items)
    {
        <li originalValue="@item.Item.Name">
            <div class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <p class="mb-1" style="@FontSize">@item.Item.Name</p>
                    <small>
                        <div>
                            <input readonly @bind="item.UpdateTime" @bind:format="HH:mm:ss"></input>
                            <i class="p-2 bi bi-box-arrow-up" @onclick="()=>MoveToCart(item)"></i>
                        </div>
                    </small>
                </div>
                <p class="mb-1">@item.Item.Description</p>
            </div>
        </li>

    }
</div>